// FONT
$font-basic: 'Roboto', sans-serif;

// PADDING
$padding-size-big: 230px;
$padding-size-medium: 5%;
$padding-size-small: 8px;

// BREAk
$break-small: 420px;
$break-large: 1024px;

// RESPONSIVFE MEDIA
@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}