.pokemon {
  padding: 10px;
  cursor: pointer;
  padding-bottom: 20px;
}

.pokemon--big {}

.pokemon__heading_name {
  text-align: center;
  padding: 5px;
}

.pokemon__heading_name--bold {
  font-weight: bold;
}

.pokemon__image {
  margin-left: auto;
  margin-right: auto;
}

.pokemon__modal {
  padding: 0 !important;
}

.pokemon__modal_head {
  padding: 20px
}

.pokemon__modal_description {
  padding: 20px;
  background-color: #f2f2f2;
}

.pokemon__modal_item {
  margin-bottom: 20px;
  color: #8f8f8f;
  font-weight: bold;

  .pokemon__heading_name {
    color: #c1c1c1;
    text-align: left;
    padding: 0;
    font-weight: bold;
  }
}

.pokemon__navigation {
  cursor: pointer;
  color: blue
}

.pokemon__navigation--left {
  left: 7em;
  position: absolute;
}

.pokemon__navigation--right {
  right: 7em;
  position: absolute;
}