@import './App/Configs/sass/global';

html {
    width: 100%;
    font-size: 13px;
}

body {
    width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: $font-basic;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==========================================
::  Typography
========================================== */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  font-family: $font-basic;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: bold;
	min-height: 1rem;
	margin: .67em 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5,h6 {
  font-size: 1rem;
}

a,
a:hover,
a:focus,
a:active,
button{
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: inherit;
	font-family: inherit;
}

ol,
ul {
	margin: 10px 0;
	font-size: inherit;
	display: block;
	list-style-type: disc;
}

li {
	padding: 0;
	margin: 0 0 0 17px;
	line-height: 1.4;
}
p {
  font-family: inherit;
  line-height: 1.3;
}

strong {
  font-weight: 500;
}

label {
  font-weight: normal;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 7px;
}

section {
  padding: 40px 0;
  position: relative;
}

input {
  font-family: inherit;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #666666;
  padding: 0;
}


/* ==========================================
::  Main
========================================== */
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site {
  position: relative;
	overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.app-route-content {
  padding: 0 1.5em;
  &.--tight {
    padding: 0 15%;
  }
}

.app-route-actions-step {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;

  .ui.button {
    font-size: 0.9rem;
    margin: 0 0 0 0.25em;
  }
}

.app-route-actions-with-info-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ui.button {
    font-size: 0.9rem;
  }
  @include respond-to(small) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.app-route-success-actions-step {
  display: flex;
  justify-content: center;

  .ui.button {
    font-size: 0.9rem;
    margin: 0;
  }
}

.block {
  display: block;
  margin-bottom: 1em;
}

.flex-sb {
  display: flex;
  justify-content: space-between;

  &.--center {
    align-items: center;
  }

  &.--end {
    align-items: flex-end;
  }
}

.small-text {
  font-size: 0.9rem;

  &.--gray {
    color: #666666;
  }
}

.smaller-text {
  font-size: 0.7rem;
}

.big-text {
  font-size: 1.2rem;
}

.bold-text {
  font-weight: bold;
}

.link-button {
  margin: 0 0.25em 0 0;
  button {
    width: 100% !important;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;

  border-top: 0.3em solid white;
}


.ui.dropdown .menu>.item {
  font-size: 1rem;
}

.ui.selection.dropdown .menu>.item {
  display: flex;
  justify-content: space-between;
}

.ui.dropdown .menu>.item>.label {
  padding: 0;
  background-color: transparent;
  font-weight: normal;
}

.ui.fluid.dropdown>.dropdown.icon {
  background: #4a90e2;
  right: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  top: 8px;
  width: 35px;
}

.load-more {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.ui.divided.list>.item {
  padding: 15px;
}

.ui.divided.list .list>.item:first-child,
.ui.divided.list>.item:last-child {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.list .list>.item a.header,
.ui.list>.item a.header {
  color: #404040 !important;
  font-size: 16px;
  font-size: 14px;
  padding-bottom: 5px;
}

.additional-label {
  margin-bottom: 2px;
}

.box-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  padding: 2px 10px 2px 0;
  margin: 10px 0;
}

.box-phone .ui.input {
  flex-grow: 1;
}

.box-phone .ui.input input {
  border: 0;
}

.text-center,
.ui.modal>.actions.text-center {
  text-align: center;
}

hr {
  border-color: #dbe0e4
}

.modal hr + button,
.modal hr + .ui.button {
  margin-top: 10px;
}

.clearfix,
.box-button {
  position: relative;
}

.clearfix:after,
.box-button:after {
  content: "";
  clear: both;
  display: table;
}

.box-button {
  padding-top: 10px;
}

.ui.header.problem {
  font-size: inherit;

  .sub.header {
    color: red;
  }
}